a.backButton {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 18px;
    display: block;
    text-decoration: none;
    padding: 20px 30px;
}

@media only screen and (max-width:800px) {
    a.backButton {
        padding: 15px;
        font-size:16px;
        line-height: 14px;
        padding-bottom: 18px;
    }
}