a.backButton {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 18px;
    display: block;
    text-decoration: none;
    padding: 20px 30px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

@media only screen and (max-width:768px) {
    a.backButton {
        padding: 15px;
        font-size:16px;
    }
}