.goHome {
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 140px;
    opacity: 0;
    display: block;
}

.goHome img {
    margin-bottom: 15px;
    width: 60px;
    height: 60px;
}

.goHome p {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 28px;
    color: #fff;
}

@media only screen and (max-width:767px) {
    .goHome img {
        width: 48px;
        height: 48px;
        margin-bottom: 15px;
    }

    .goHome p {
        font-size:20px;
    }
}