.roomBlock {
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 24px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    background-color: #8E8E93;
    opacity: 0;
    position: relative;
    top: 40px;
}

.roomBlock a {
    text-decoration: none;
    display: block;
    padding: 30px;
    color: #fff;
}


@media only screen and (max-width:767px) {
    .roomBlock {
        font-size:22px;
    }

    .roomBlock a{
        padding: 30px 15px;
    }
}