.roomBlock {
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 24px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: #474747;
}

.roomBlock a {
    text-decoration: none;
    display: block;
    padding: 30px;
    color: #fff;
}