.timeBlock {
    list-style-type: none;
    font-family: 'Source Code Pro',monospace;
    font-size: 24px;
    color: #fff;
    padding: 30px;
    font-weight: 100;
    background-color: #ccc;
    display: block;
    cursor: pointer;
    opacity: 0;
    position: relative;
    top: 40px;
    transition: background-color, opacity 0.3s ease;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
}

.timeBlock_owner-input {
    font-size:30px;
    border: 0;
    margin-top: 20px;
    padding: 25px;
    border-radius: 8px;
    outline: none;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    width: 100%;
    background-color: #fff;
    color: #2e2e2e;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}

.timeBlock_owner-input::-webkit-input-placeholder {
   color: #bcbcbc;
}

.timeBlock_owner {
    float: right;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    position: relative;
    top: -1px;
}

.timeBlock.not-editing {
    opacity: 0.2!important;
}

.timeBlock.booked {
    text-decoration: line-through;
    background-color: #2B2B2B!important;
    border-bottom: 1px solid #353535;
    color: #B2B2B2;
}

.timeBlock.booked .timeBlock_time {
    text-decoration: line-through;
}

.addOwner {
    height: 0px;
    overflow: hidden;
    -webkit-transition: height 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transform-style: preserve-3d;
}

.addOwner.editing {
    height: 110px;
}

@media only screen and (max-width:767px) {
    .timeBlock {
        font-size:19px;
        padding: 22px 15px;
    }

    .timeBlock .timeBlock_owner-input {
        font-size:22px;
        padding: 8px;
        border-radius:4px;
    }

    .addOwner.editing {
        height: 64px;
    }
}