<template name="timeBlock">
      <li class="timeBlock {{#if owner}}booked{{/if}}" data-end-time="{{endTime}}" >
        {{timeBlock}}
        <div class="timeBlock_owner">
          {{#if owner}}
            {{owner}}
          {{else}}
            +
          {{/if}}
        </div>
        <div class="addOwner">
          {{#autoForm collection="Bookings" doc=editingDoc id="updateBooking" type="update"}}
            {{> afFieldInput name='owner' class="timeBlock_owner-input" placeholder='Your name'}}
          {{/autoForm}}
        </div>
      </li>
</template>